<!DOCTYPE html>
<html lang="ja">
<head>
    <title>heroku開発1-1</title>
    <script src=".//static/js/opendpage.js">
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=".//static/css/style.css">

</head>
<body  onLoad="setTimeout('closepage()', 1000000)">


    <p>
        エアコンONを実行しました。<br>
        機能:{{airconditonertype}}
        温度:{{temperature}}
        風速:{{fan}}

    </p>

</body>
</html>