<!DOCTYPE html>
<html lang="ja">
<head>
    <title>heroku開発1-2</title>
    <script src=".//static/js/opendpage.js">
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=".//static/css/style.css">
</head>
<body onLoad="setTimeout('closepage()', 3000)">
<p>
    エアコンOFFを実行しました。
</p>
</body>
</html>