<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>初めてのFlaskアプリケーション</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=".//static/css/style.css">
    <script src=".//static/js/logout.js">
    </script>
</head>
<body onLoad="setTimeout('closepage()', 10000)">
    <p>ログアウトしました</p>

</body>